* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    height: 75px;
    background-color: #222222;
}

.Head_img {
    display: flex;
    justify-content: space-between;
}

.left_img {
    display: flex;
    align-items: center;
    width: 112px;
    height: 74px;
}

.first_img {
    margin-right: 41px;
}

.right_img {
    display: flex;
    align-items: center;
    width: 156px;
    height: 74px;
}

.third_img {
    margin-right: 33px;
}

.third_img:visited .navigation {
    display: flex;
}

.img_close:visited .navigation {
    display: none
}

.fourth_img {
    margin-right: 33px;
}

.top {
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.top_main {
    display: flex;
    align-items: center;
}

.img_man {
    max-width: 650px;
    max-height: 800px;
}

.the_brand {
    display: flex;
    margin-left: 64px;
}

.inscription {
    margin-left: 16px;
    width: 400px;
    max-height: 93px;
}

.second_level {
    display: flex;
}

.mainp {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

._p {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #222222;
}

.p_p {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #F16D7F
}

.img_close {
    margin-left: 160px;
}

.navigation {
    background-color: #FFFFFF;
    padding-top: 16px;
    width: 200px;
    height: 604px;
    position: absolute;
    right: 0px;
    top: 75px;
}

.h_menu {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding-left: 33px;
    margin-top: 9px;
    padding-bottom: 4px;
}

.menu_content {
    display: block;
    text-decoration: none;
    padding-left: 55px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin: 11px 0px;
}

.h_content {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: block;
    color: #F16D7F;
    padding-left: 33px;
    margin-top: 9px;
}


.h_content:first-of-type {
    margin-top: 20px;
}


.menu {
    list-style-type: none;
}

.first_line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.top_link_content {
    display: block;
    text-decoration: none;
}

.item_women {
    background-image: url(image/top_link/for_women.png);
    height: 260px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pp_item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.ppp_item {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F
}

.item_men {
    background-image: url(image/top_link/for_men.png);
    height: 260px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item_kids {
    background-image: url(image/top_link/for_kids.png);
    height: 260px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second_line {
    background-image: url(image/top_link/accesories.png);
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 96px;
}

.product_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;
}

.product_header {
    margin-bottom: 48px;
    text-align: center;
}

.name_product_card {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.description_product_card {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.first_product_line {
    width: 100%;
    height: 200px;
    background-color: #6F6E6E;
    margin-bottom: 30px;
}

.second_product_line {
    width: 100%;
    height: 200px;
    background-color: #6F6E6E;
    margin-bottom: 48px;
}

.button_section {
    padding: 14px 39px;
    background-color: #F16D7F;
    text-decoration: none;
    border: 1px solid #FF6A6A;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.asid {
    height: 341px;
    background-color: #222224;
}

.content_aside {
    padding-top: 103px;
    display: flex;
    justify-content: space-between;
}

.first_element_column {
    margin-bottom: 28px;
}

.second_element_column {
    margin-bottom: 19px;
}

.third_element_column {
    margin-bottom: 25px;
}

.first_element_aside {
    text-align: center;
}

.p1_aside {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin-bottom: 16px;
}

.p2_aside {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    width: 310px;
}

.bottom {
    background-image: url(image/section/backg.png);
    /* background-color: rgba(244, 244, 244, 0.3); */
}

.content_bottom {
    padding-top: 87px;
    padding-bottom: 126px;
    display: flex;
    justify-content: space-between;
}

.first_column_bottom {
    text-align: center;
    width: 360px;
}

.second_column_bottom {
    text-align: center;
    width: 557px;
    padding-top: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p1_bottom {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0a0a0a;
    margin-top: 30px;
}

.p2_bottom {
    font-weight: 700;
    font-size: 24px;
    line-height: 41px;
    color: #222224;
    margin-bottom: 32px;
}

.p21_bottom {
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #222224;
}

.area_bottom {
    display: flex;
}

.inp1 {
    background-color: #E1E1E1;
    border-radius: 15px 0px 0px 15px;
    padding: 12px 64px 12px 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.67;
}

.but1 {
    background-color: #F16D7F;
    border-radius: 0px 15px 15px 0px;
    padding: 12px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    width: 100px;
}


.footer {
    height: 80px;
    background-color: #222224;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.p_footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding-top: 6px;
}

.footer_right_content {
    display: flex
}

.link_footer {
    display: block;
    padding: 6px 7px 4px 7px;
    background-color: #FFFFFF;
    margin-left: 8px;
}
